.homepage {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    > .top {
        width: 380px;
        height: 280px;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("../image/homepage/corner_top.png");
        background-size: contain;
        background-repeat: no-repeat;
        // .decoration {
        //     width: 100%;
        //     height: 100%;
        //     background-image: url("../image/homepage/corner_top_decoration.png");
        //     background-size: contain;
        // }
    }
    .banner_wrapper {
        padding: 130px 0 0 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        height: 100%;

        .bannertitle {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 0;
            width: 50%;
            height: 100%;
            vertical-align: middle;
            opacity: 0;
            transition: opacity 2s 0.3s;
            &:before {
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }

            > div {
                display: inline-block;
                width: 100%;
                height: 70%;
                min-height: 320px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                vertical-align: middle;
                image-rendering: auto;
            }
        }
        .main {
            display: inline-block;
            width: 100%;
            height: calc(100vh - 130px);
            vertical-align: middle;
            overflow: visible;
            > ul {
                height: 100%;
                > li {
                    height: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    font-size: 0;
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 100%;
                        vertical-align: middle;
                    }
                    &.page {
                        &.active {
                            .bannertitle {
                                opacity: 1;
                            }
                            .bannerpicture {
                                .banner {
                                    opacity: 1;
                                }
                            }

                            &.fromtop {
                                .bannertitle {
                                    animation: fromtop 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                                .bannerpicture {
                                    animation: fromtop 1s forwards;
                                }
                            }
                            &.frombottom {
                                .bannertitle {
                                    animation: fromtop 1s forwards;
                                    transition: opacity 2s 0.3s;
                                }
                                .bannerpicture {
                                    animation: frombottom 1s forwards;
                                }
                            }
                        }
                        &.page1 {
                            .bannertitle {
                                width: 40%;
                                max-height: 680px;
                                img {
                                    display: inline-block;
                                    min-width: 260px;
                                }
                                div {
                                    display: inline-block;
                                    min-width: 260px;
                                }
                            }
                            .bannerpicture {
                                display: inline-block;
                                width: 57%;
                                .banner {
                                    width: 60vw;
                                    min-width: 600px;
                                    max-width: 1040px;
                                    img {
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                        &.page2 {
                            .bannertitle {
                                width: 40%;
                                max-height: 680px;
                                div {
                                    display: inline-block;
                                    margin: 30px 0 0 0;
                                    min-width: 260px;
                                    vertical-align: top;
                                }
                            }
                            .bannerpicture {
                                width: 1500px;
                                min-width: 1050px;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0%;

                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 0;
                                    height: 100%;
                                    vertical-align: middle;
                                }
                                .banner {
                                    display: inline-block;
                                    vertical-align: middle;
                                    > .picture {
                                        margin: 10px 0 0 0;
                                        height: 95%;
                                        background-position: calc(100% - 50%) center;
                                        position: absolute;
                                    }
                                }
                            }
                            .cooperation {
                                width: 100%;
                                height: 150px;
                                position: absolute;
                                left: 0;
                                bottom: 30px;
                                .picture {
                                    width: 100%;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-size: 80%;
                                    background-position: center right;
                                }
                            }
                        }
                        &.page3 {
                            width: 100%;
                            height: 100%;
                            min-height: 580px;
                            position: relative;
                            &:before {
                                content: "";
                                display: inline-block;
                                width: 0;
                                height: 100%;
                                vertical-align: middle;
                            }
                            .content {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                vertical-align: middle;
                                position: relative;
                                .bannertitle {
                                    display: inline-block;
                                    width: 36%;
                                    vertical-align: top;
                                    > div {
                                        transform: translateY(-40px);
                                    }
                                }
                                .bannerpicture {
                                    display: inline-block;
                                    width: 57%;
                                    .banner {
                                        display: inline-block;
                                        vertical-align: middle;

                                        > .picture {
                                            margin: 10px 0 0 0;
                                            height: 90%;
                                            background-position: center left;
                                            position: absolute;
                                            bottom: 50px;
                                            transform: translateX(-70px);
                                        }
                                    }
                                }
                            }

                            .footer {
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;

                                .content {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 12px;
                                    z-index: 1;
                                    ul {
                                        display: flex;
                                        margin: 0 auto;
                                        width: 1200px;
                                        justify-content: space-evenly;
                                        li {
                                            display: inline-block;
                                            line-height: 40px;
                                            color: #aaa;
                                        }
                                    }
                                }
                            }
                        }

                        .bannertitle {
                        }
                        .bannerpicture {
                            width: 85%;
                            height: 100%;
                            vertical-align: middle;
                            min-height: 500px;
                            .banner {
                                margin: 0 0 0 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity 2s 0.3s;

                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 0;
                                    height: 100%;
                                    vertical-align: middle;
                                }

                                > .picture {
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    min-height: 380px;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .corner {
        width: 20%;
        height: 450px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url("../image/homepage/homepage_footer.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}




@media screen and (max-width: 1280px) {
    body {
        .homepage {
            .banner_wrapper {
                .main {
                    > ul {
                        > li {
                            &.page {
                                &.page1 {
                                    .bannertitle {
                                        margin: 0 0 0 3%;
                                    }
                                }
                                &.page2 {
                                    .bannertitle {
                                        margin: 0 0 0 3%;
                                    }
                                    .bannerpicture {
                                        .banner {
                                            > .picture {
                                                height: 90% !important;
                                            }
                                        }
                                    }
                                }
                                &.page3 {
                                    min-height: 480px!important;
                                    .bannertitle {
                                        margin: 0 0 0 7%;
                                    }
                                    .content {
                                        .bannerpicture {
                                            .banner {
                                                > .picture {
                                                    margin: 0!important;
                                                    height: 80%;
                                                    bottom: 40px!important;
                                                    // transform: translateX(-80px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
