.homepage {
    margin: 0 auto;
    width: 100%;
    // height: calc(100vh - 130px);
    height: 100vh;
    // min-height: 800px;
    position: relative;
    overflow: hidden;
    > .top {
        width: 380px;
        height: 280px;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("../image/homepage/corner_top.png");
        background-size: contain;
        background-repeat: no-repeat;
        // .decoration {
        //     width: 100%;
        //     height: 100%;
        //     background-image: url("../image/homepage/corner_top_decoration.png");
        //     background-size: contain;
        // }
    }
    .banner_wrapper {
        padding: 130px 0 0 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        height: 100%;

        .bannertitle {
            display: inline-block;
            vertical-align: middle;
            max-width: 430px;
            width: 45%;
            img {
                display: inline-block;
                width: 100%;
            }
        }
        .main {
            display: inline-block;
            width: 100%;
            height: calc(100vh - 130px);
            vertical-align: middle;
            overflow: visible;
            > ul {
                height: 100%;
                >li {
                    height: 100%;
                    box-sizing: border-box;
                    text-align: left;
                    font-size: 0;
                    // transition: all 1s;

                    &:before {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 100%;
                        vertical-align: middle;
                    }
                    &.page {
                        &.active {
                            // opacity: 1;
                            .bannertitle {
                                opacity: 1;
                            }
                            .bannerpicture {
                                .banner {
                                    opacity: 1;
                                }
                            }

                            &.fromtop {
                                .bannertitle {
                                    animation: fromtop 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                                .bannerpicture {
                                    animation: fromtop 1s forwards;
                                }
                            }
                            &.frombottom {
                                .bannertitle {
                                    animation: fromtop 1s forwards;
                                    transition: opacity 2s 0.3s;
                                }
                                .bannerpicture {
                                    animation: frombottom 1s forwards;
                                }
                            }
                        }
                        &.page1 {
                            .bannerpicture {
                                position: absolute;
                                left: 40%;
                                .banner {
                                    img {
                                        vertical-align: bottom;
                                    }
                                }
                            }
                        }
                        &.page2 {
                            .bannertitle {
                                position: relative;
                            }
                            .bannerpicture {
                                left: 15%;
                                width: calc(100vw - 65%);
                                min-width: 1050px;
                                height: 100%;
                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 0;
                                    height: 100%;
                                    vertical-align: middle;
                                }
                                .banner {
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                            .cooperation {
                                width: 100%;
                                height: 150px;
                                position: absolute;
                                left: 0;
                                bottom: 30px;
                                .picture {
                                    width: 100%;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-size: 80%;
                                    background-position: center right;
                                }
                            }
                        }
                        &.page3 {
                            // margin: 110px 0;
                            width: 100%;
                            height: 100%;
                            position: relative;
                            &:before {
                                content: "";
                                display: inline-block;
                                width: 0;
                                height: 100%;
                                vertical-align: middle;
                            }
                            .content {
                                display: inline-block;
                                width: 100%;
                                height: calc(100% - 220px);
                                vertical-align: middle;
                                position: relative;
                                .bannertitle {
                                    display: inline-block;
                                    width: 400px;
                                    vertical-align: top;
                                }
                                .bannerpicture {
                                    width: 70%;
                                    // height: calc(100% - 220px);
                                    height: 100%;
                                    position: absolute;
                                    right: 0;
                                    .banner {
                                        > .picture {
                                            background-position: center bottom;
                                        }
                                    }
                                }
                            }

                            .footer {
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;

                                .content {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 12px;
                                    z-index: 1;
                                    ul {
                                        display: flex;
                                        margin: 0 auto;
                                        width: 1200px;
                                        justify-content: space-evenly;
                                        li {
                                            display: inline-block;
                                            line-height: 40px;
                                            color: #aaa;
                                        }
                                    }
                                }
                            }
                        }

                        .bannertitle {
                            display: inline-block;
                            margin: 0 0 0 0;
                            vertical-align: middle;
                            opacity: 0;
                            transition: opacity 2s 0.3s;
                        }
                        .bannerpicture {
                            width: 85%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            // left: 40%;
                            .banner {
                                margin: 0 0 0 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                transition: opacity 2s 0.3s;

                                &:before {
                                    content: "";
                                    display: inline-block;
                                    width: 0;
                                    height: 100%;
                                    vertical-align: middle;
                                }

                                > .picture {
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    min-height: 480px;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .corner {
        width: 20%;
        height: 450px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url("../image/homepage/homepage_footer.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}
