.introduction {
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 130px);
    position: relative;
    overflow: hidden;
    > .content {
        display: inline-block;
        vertical-align: middle;
    }
    > .banner {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        .main {
            width: 100%;
            height: 100%;
            height: calc(100vh - 120px);
            min-height: 330px;

            ul {
                li {
                    display: block;
                    width: 100%;
                    height: 100%;
                    .content {
                        display: inline-block;
                        width: 480px;
                        vertical-align: bottom;
                        text-align: left;
                        font-size: 0;

                        .article {
                            margin: 20px 0 0 0;
                            font-size: 15px;
                            overflow: hidden;

                            h2 {
                                margin: 0 0 10px 0;
                                color: #e67331;
                                font-size: 24px;
                            }
                            .paragraph {
                                margin: 0 0 35px 0;
                                padding: 10px 0;
                                line-height: 30px;
                                font-size: 13px;
                                position: relative;
                                color: #000;
                            }
                            .rules {
                                padding: 10px 0 0 0;
                                li {
                                    margin: 10px 0;
                                    color: #000;
                                    font-size: 13px;
                                    &:before {
                                        content: "";
                                        display: inline-block;
                                        margin: 0 10px 5px 0;
                                        width: 8px;
                                        height: 8px;
                                        line-height: 20px;
                                        border-radius: 50%;
                                        background-color: #e67331;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                    .picture {
                        display: inline-block;
                        width: 600px;
                        height: 530px;

                        vertical-align: bottom;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }
                        img {
                            display: inline-block;
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                    &.page1 {
                        padding: 0 0 0 40px;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }

                        &.active {
                            &.fromtop {
                                .content {
                                    animation: fromtop 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                            &.frombottom {
                                .content {
                                    animation: frombottom 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                        }

                        .content {
                            display: inline-block;
                            margin: 0 30px 0 0;
                            height: 450px;
                            opacity: 0;
                            vertical-align: middle;
                            .article {
                                margin: 80px 0 0 0;
                                .paragraph {
                                    &:before {
                                        content: "";
                                        display: inline-block;
                                        width: 2px;
                                        height: 35px;
                                        background-color: #e67331;
                                        transform: rotate(40deg);
                                        position: absolute;
                                        top: 0;
                                        left: 10px;
                                    }
                                    text-indent: 2em;
                                }
                            }
                        }
                        .picture {
                            vertical-align: middle;
                        }
                    }
                    &.page2 {
                        padding: 0 0 0 0;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }

                        &.active {
                            &.fromtop {
                                .content {
                                    animation: fromtop 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                            &.frombottom {
                                .content {
                                    animation: frombottom 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                        }
                        .picture {
                            display: inline-block;
                            width: 570px;
                            height: 445px;
                            vertical-align: middle;
                        }
                        .content {
                            display: inline-block;
                            margin: 0 0 0 0;
                            padding: 0 0 0 100px;
                            width: 550px;
                            opacity: 0;
                            vertical-align: middle;
                            .article {
                                .hint {
                                    margin: 5px 0;
                                    color: #e67331;
                                    font-size: 12px;
                                }
                                .paragraph {
                                    dl {
                                        display: flex;
                                        dt {
                                            display: inline-block;
                                        }
                                        dd {
                                            display: inline-block;
                                            flex: 1;
                                            p {
                                                text-align: left;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.page3 {
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }
                        &.active {
                            &.fromtop {
                                .content {
                                    animation: fromtop 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                            &.frombottom {
                                .content {
                                    animation: frombottom 1s forwards;
                                    opacity: 1;
                                    transition: opacity 2s 0.3s;
                                }
                            }
                        }
                        .content {
                            display: inline-block;
                            padding: 0 0 0 0;
                            width: 510px;
                            opacity: 0;
                            vertical-align: middle;
                            .article {
                                h1 {
                                    margin: 35px 0 90px 0;
                                    color: #e67331;
                                    font-size: 48px;
                                }
                            }
                        }
                        .picture {
                            display: inline-block;
                            margin: 0 0 0 50px;
                            width: 480px;
                            vertical-align: middle;
                            height: 445px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        height: 1000px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("../image/introduction/introduction_footer.png");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: -1;
        &.sliding {
            opacity: 0;
            animation: fade 3s forwards;
        }
    }
}

@keyframes fromtop {
    from {
        // opacity: 0;
        margin-bottom: 100px;
    }
    to {
        // opacity: 1;
        margin-bottom: 0;
    }
}
@keyframes frombottom {
    from {
        // opacity: 0;
        margin-bottom: -100px;
    }
    to {
        // opacity: 1;
        margin-bottom: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
