.homepage {
    margin: 0 auto;
    width: 100%;
    // height: calc(100vh - 130px);
    height: 100vh;
    min-height: 800px;
    position: relative;
    overflow: hidden;
    > .top {
        width: 380px;
        height: 280px;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("./image/homepage/corner_top_bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        .decoration {
            width: 100%;
            height: 100%;
            background-image: url("./image/homepage/corner_top_decoration.png");
            background-size: contain;
        }
    }
    .banner {
        padding: 150px 0 0 0;
        width: 100%;
        height: 100%;

        .bannertitle {
            display: inline-block;
            vertical-align: middle;
            width: 450px;
            img {
                display: inline-block;
                width: 450px;
            }
        }
        .main {
            display: inline-block;
            width: 750px;
            height: calc(100vh - 130px);
            vertical-align: middle;
            overflow: visible;
            ul {
                // width: 100%;

                height: 100%;
                li {
                    padding: 50px 0 0 50px;

                    height: 100%;
                    box-sizing: border-box;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }

    .footer {
        width: 480px;
        height: 230px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url("./image/homepage/corner_bottom.png");
        background-size: cover;
        background-position: bottom;
    }
}
