@media screen and (max-width: 1366px) {
    body {
        .homepage {
            .banner_wrapper {
                .main {
                    > ul {
                        > li {
                            &.page {
                                &.page1 {
                                    .bannertitle {
                                        margin: 0 0 0 3%;
                                        vertical-align: top;
                                    }
                                }
                                &.page2 {
                                    .bannertitle {
                                        margin: 0 0 0 3%;
                                    }
                                    .bannerpicture {
                                        .banner {
                                            > .picture {
                                                height: 90% !important;
                                            }
                                        }
                                    }
                                }
                                &.page3 {
                                    min-height: 480px !important;
                                    .bannertitle {
                                        margin: 0 0 0 7%;
                                    }
                                    .content {
                                        .bannerpicture {
                                            .banner {
                                                > .picture {
                                                    margin: 0 !important;
                                                    height: 80%;
                                                    bottom: 40px !important;
                                                    // transform: translateX(-80px);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .introduction {
            > .banner {
                .main {
                    ul {
                        li {
                            .content {
                                vertical-align: top;
                                text-align: center;
                                .article {
                                    .paragraph {
                                        margin: 10px 0 !important;
                                        p {
                                            // margin: 0 0 10px 0 !important;
                                        }
                                    }
                                    h2 {
                                        margin: 20px 0 10px 0;
                                    }
                                }
                                .picture {
                                    width: 400px;
                                }
                            }
                            &.page1 {
                                .content {
                                    .article {
                                        h2 {
                                            margin: 10px 0 20px 0 !important;
                                        }
                                        .paragraph {
                                            p {
                                                margin: 0 !important;
                                            }
                                        }
                                    }
                                }
                            }
                            &.page2 {
                                .content {
                                    .picture {
                                        img {
                                            width: 460px !important;
                                        }
                                    }
                                    .article {
                                        margin: 0;
                                        vertical-align: top;
                                        h2 {
                                            margin: 0 0 10px 0;
                                        }
                                    }
                                }
                            }
                            &.page3 {
                                .content {
                                    height: 100vh;
                                    .article {
                                        margin: 10px 0 0 0;
                                        h1 {
                                            margin: 0;
                                        }
                                    }
                                    .picture {
                                        width: 400px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
