@media screen and (max-width: 1250px) {
    .homepage {
        .banner_wrapper {
            .main {
                > ul {
                    > li {
                        &.page {
                            &.page1 {
                                .bannertitle {
                                    margin: 0 0 0 3%;
                                }
                            }
                            &.page2 {
                                .bannertitle {
                                    margin: 0 0 0 3%;
                                }
                            }
                            &.page3 {
                                .bannertitle {
                                    margin: 0 0 0 5%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
